- @courses.each do |course|
  .card-product
    = image_tag(course.thumbnail, class: 'card-product-img')
    .card-product-infos
      %h2= course.title
      %p
        %strong= course.description
      = link_to t('View'), course_path(course.id), class: 'btn btn-ghost'
  %br
